source https://api.nuget.org/v3/index.json

storage: none

nuget Expecto.FsCheck
nuget FSharp.Core
nuget EasyNetQ
nuget RabbitMQ.Client < 5
nuget Marten
clitool Microsoft.DotNet.Watcher.Tools

github logary/logary src/Logary.Facade/Facade.fs
